{% extends "layout.html" %}
{% block body %}
{% load static %}
<section id="home">
    <div class="info">

        <img class="nature" src="{% static 'assets/img/car1.jpg' %}">
        <img class="nature" src="{% static 'assets/img/bike1.jpg' %}">
        <img class="nature" src="{% static 'assets/img/car2.jpg' %}">
        <img class="nature" src="{% static 'assets/img/bike2.jpg' %}">
        <img class="nature" src="{% static 'assets/img/car3.jpg' %}">
        <img class="nature" src="{% static 'assets/img/bike3.jpg' %}">
    </div>
</section>
<section class="home1">
    <div class="webinfo">
        <h1 class="heading">Welcome to Vahan</h1>
        <p class="para1">we are here to provide you every details of motor vehicle</p>
        <div class="btn1a"><BUtton class="btn1"><a href="#top2">Lets Start</a></BUtton></div>
    </div>
</section>
<section id="carani">
    <div class="arrow1">
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>

    </div>

</section>
<section class="arrow2">
    <div class="anicar1">
        <img class="anicar" src="{% static 'assets/img/anicar.png' %}">
    </div>
</section>
<section id="preview">
    <img src="{% static 'assets/img/bike4.jpg' %} " class="show1">
    <img src="{% static 'assets/img/car4.jpg' %}" class="show1">
    <img src="{% static 'assets/img/bike6.jpg' %} " class="show1">
    <img src="{% static 'assets/img/car6.jpg' %}" class="show1">
</section>
<section id="latest">
    <div class="latest">
        <h1>Latest Automobile is here</h1>
    </div>
    <section id="carani">
        <div class="arrow1">
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>
            <span class="bar1"></span>

        </div>

    </section>
    <section class="arrow2">
        <div class="anicar1">
            <img class="anicar" src="{% static 'assets/img/anicar.png' %}">
        </div>
    </section>
    <div class="mainbox">
        
    </div>

</section>


<section class="arrow2">
    <div class="anicar1">
        <img class="anicar" src="{% static 'assets/img/anicar.png' %}">
    </div>
</section>

<section class="top2" id="top2">
    <div class="bgsearch">
        <img src="{% static 'assets/img/searchbg.jpg' %}" alt="">
    </div>
    <div class="find">
        <h1>Find the Details</h1>
    </div>

    <div class="form1">

        <form action="{% url 'show' %}" method="post">
            {% csrf_token %}
            <h3 class="heading3">Vehicle Name</h3>
            <input class="input-open" type="search" name="model" placeholder="Search" id="searchField1" autocomplete="On"
                value="Apache 160cc">
            <div class="btn2a"><input type="submit" value="Go"></div>
        </form>
    </div>


</section>
<section class="arrow3">
    <div>
        <span class="bar2"></span>
    </div>
    <div class="anicar1">
        <img class="anicar2" src="{% static 'assets/img/anicar1.png' %}">
    </div>
</section>

{% endblock %}