{% extends "layout.html" %}
{% block body %}
{% load static %}
<section class="top2" id="top2">
    <div class="bgsearch">
        <img src="{% static 'assets/img/knowme.jpg' %}" alt="">
    </div>
    <div class="find">
        <h1>Know me</h1>
    </div>
    
    <div class="contact1">
        <h1>Welcome to Vahan</h1>
        <p class="para2">Vahan website
            is an informative web page in which you have all the details  of motor vehicle with proper 
            information (specification) like Engine, power, torque, Fuel tank, length, weight,G Clearance etc.  with attractive user interface
        <br>
        In This website we also add latest Corner in which we have all the latest updates of automobile
        <br>We have also two more corner. <br>1. Top car in india
        <br>
    2. Top bike in india
    <br>
        With proper details and updated news
    </p>
    </div>
</section>
{% endblock %}